.services{
	.section-top{
		.services{
			&-card{
				padding-top: 50px;
				& .card-img{
					width: 90px;
					height: 90px;
					margin: auto;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 50%;
					background-color: $color-primary;
					border: 1px solid $color-primary;
					&:hover{
						background-color: transparent;
						border-color: $color-dark;
						transition: all .3s;
						& .icon{
							fill:$color-primary;
						}
					}
				}	
			}
		}
	}
	.section-bottom{
		.heading{
			padding: 60px 0;
		}
		.card{
			background: $color-bg;
			color: $color-white;
			padding-bottom: 60px;
		}
		& .icon{
			fill: $color-primary;
		}
	}
}