$color-primary: #ffcf00;
$color-text: #9b9b9b;
$color-white: #fff;
$color-light: #c0c0c0;
$color-heading: #515151;
$color-dark: #1a0000;
$color-bg: #131a1d;
$color-bg-light: #fbfbfb;
$color-button: #2b1114;
$color-link: #af999a;
$font: 'Oswald', sans-serif;
